<nav id="yourNavbar" class="navbar navbar-expand-lg navbar-dark fixed-top">
  <div class="container">
    <a class="navbar-brand">
      <img src="../assets/logo.png" style="width: 32%; margin-left: -24%;
      margin-top: -8%;">
    </a>
    <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#yourNavbarContent" aria-controls="yourNavbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="yourNavbarContent">
      <ul class="navbar-nav ml-auto" style="margin: 2%;">
        <li class="nav-item active">
          <a class="nav-link">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">My Account</a>
          <ul class="drop-menu">
            <li><a (click)="loadData()">Profile</a></li>
            <li><a (click)="changePassword()">Change Password</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link">Previous Bookings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="showCurrentBookings()">Today's Bookings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Book a Service</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Feedback & Queries</a>
        </li>
      </ul>
    </div>
    <div id="exit">
      <a class="nav-link"><i class="glyphicon glyphicon-log-out"></i> Sign Out</a>
    </div>
  </div>
</nav>

<div class="wrapper">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h2 class="header-content">PROFILE INFORMATION: {{m.memberName}}</h2>
    </div>
    <div class="panel-body">
      <div class="col-lg-3 col-md-2"></div>
      <div *ngIf="m">
        <table class="t-container">
          <tr>
            <td class="td-1" style="padding-left: 2%;">ID:</td>
            <td class="td" style="padding-left: 4%;">{{m.memberId}}</td>
          </tr>
          <tr>
            <td class="td-1" style="padding-left: 2%;">Contact No.:</td>
            <td class="td" style="padding-left: 4%;">
              <app-inline-edit [(ngModel)]="m.phone" type="text" name="phone" #phone="ngModel"></app-inline-edit>
            </td>
            <td><a (click)="updatePhone(phone.value)"><i class="glyphicon glyphicon-pencil"></i></a></td>
          </tr>
          <tr>
            <td class="td-1" style="padding-left: 2%;">Email:</td>
            <td class="td" style="padding-left: 4%;">{{m.email}}</td>
          </tr>
          <tr>
            <td class="td-1" style="padding-left: 2%;">Wallet:</td>
            <td class="td" style="padding-left: 4%;">
              <app-inline-edit [(ngModel)]="m.walletbalance" type="text" name="wallet" #wallet="ngModel"></app-inline-edit>
            </td>
            <td><a (click)="updateWallet(wallet.value)"><i class="glyphicon glyphicon-pencil"></i></a></td>
          </tr>
          <tr>
            <td class="td-1" style="padding-left: 2%;">Membership Date:</td>
            <td class="td" style="padding-left: 4%;">{{m.membershipDate}}</td>
          </tr>
        </table>
      </div>
      <div class="col-lg-3 col-md-2"></div>
    </div>
  </div>
</div>
