<nav id="yourNavbar" class="navbar navbar-expand-lg navbar-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" (click)="loadMain()">
      <img src="../assets/logo.png" style="width: 32%; margin-left: -24%;
      margin-top: -8%;">
    </a>

    <div class="collapse navbar-collapse" id="yourNavbarContent">
      <ul class="navbar-nav ml-auto" style="margin: 2%;">
        <li class="nav-item active">
          <a class="nav-link">WELCOME TO BLACK STONE RESORTS EMPLOYEE PAGE
            <span class="sr-only">(current)</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<h3 style="margin-left: 43%;">
  <img src="../../assets/logo.png" style="width: 13%; margin-left: -11%;">
  EMPLOYEE LOG IN
</h3>
<div id="page" class="container" style="margin-top:1%;">
  <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div class="panel panel-info" >
      <div class="panel-heading signin-style">
        <div class="panel-title">Log In</div>
        <div style="float:right; font-size: 82%; position: relative; top:-19px">
          <a href="#" style="color: whitesmoke">Forgot password?</a>
        </div>
      </div>

      <div style="padding-top:30px" class="panel-body" >
        <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
        <form id="loginform" class="form-horizontal" role="form">
          <div style="margin-bottom: 25px" class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input id="login-username" type="text" class="form-control" name="user" placeholder="Username"
            [(ngModel)]="userName" #user="ngModel">
          </div>

          <div style="margin-bottom: 25px" class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input id="login-password" type="password" class="form-control" name="pass" placeholder="Password"
            [(ngModel)]="passcode" #pass="ngModel">
          </div>

          <div style="margin-top:10px" class="form-group">
            <div class="col-sm-12 controls">
              <button id="btn-login" class="btn btn-primary signin-style" style="width:100%;"
              (click)="login()">LOG IN</button>
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-12 control">
              <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
                Haven't Created Your Account Yet?
                <a (click)="loadRegister()">Register Here</a>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

